* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.general-container {
  header {
    width: 100%;
    height: 800px;
    position: relative;
    background-image: url(./images/coffee-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .navbar-toggler {
      margin-top: -65px;
    }
    .custom-navbar {
      width: 100%;
      height: 50px;
      background-color: black;
      padding: 50px;
      padding-top: 70px;
      position: absolute;
      top: 0;
      left: 0;
      .middle-navbar {
        margin: 0 auto;
        .nav-item {
          padding-left: 20px;
          background-color: #000000;
          a {
            padding-left: 5px;
            font-size: 16px;
            font-weight: 700;
            color: white;
            transition: all 0.4s ease-in-out;
            i {
              font-size: 8px;
            }
            &:hover {
              color: #c0aa76;
            }
          }
        }
      }
      button {
        margin-bottom: 10px;
        font-weight: 700;
        color: white;
        background-color: #c09a42;
        border: 2px solid rgb(66, 66, 66);
        transition: all 0.5s ease-in-out;
        &:hover {
          color: #c09a42;
          background-color: white;
        }
      }
      .dropdown-menu {
        width: 100%;
        background-color: black;
        .dropdown-item {
          width: 100%;
          height: 30px;
          background-color: #c09a42;
        }
      }
    }
    .image {
      width: 80%;
      height: 250px;
    }
    .button {
      width: 180px;
      height: 40px;
      border: none;
      background-color: #c0aa83;
      color: white;
      font-weight: 700;
      font-size: 18px;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: #ffffff;
        color: #c0aa76;
      }
    }
  }
  .coffee-cut {
    position: absolute;
    width: 100%;
    margin-top: -15px;
  }
  .boxes-about-market {
    width: 100%;
    .large-box {
      width: 500px;
      height: 550px;
      border: none;
      margin-right: 100px;
      padding-left: 100px;
      h2 {
        padding-top: 50px;
        font-size: 18px;
        color: #c0aa76;
      }
      h1 {
        font-size: 40px;
      }
      p {
        padding-top: 30px;
        padding-bottom: 50px;
        font-size: 18px;
      }
    }
  }
  .recent-products {
    width: 100%;
    background-color: #242424;
    h3 {
      padding-top: 50px;
      color: #c0aa76;
    }
    p {
      color: white;
      font-size: 50px;
      font-weight: 700;
    }
    span {
      color: white;
      font-weight: 600;
      font-size: 15px;
      padding-left: 20px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 50px;
    }
    .long-box {
      background-color: white;
      width: 280px;
      height: 440px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .coffee-image {
        width: 240px;
        height: 250px;
      }
      b {
        font-size: 25px;
        color: #c09a42;
        transition: all 0.4s ease-in-out;
      }
      p {
        font-size: 14px;
        color: black;
        font-weight: 500;
        padding-top: 10px;
      }
      span {
        color: #c09a42;
        font-size: 20px;
        text-align: center;
        margin-right: 30px;
        padding-bottom: 10px;
        font-weight: 700;
      }
      button {
        width: 150px;
        height: 35px;
        border: none;
        background-color: #c09a42;
        color: #ffffff;
        font-weight: 700;
        transition: all 0.4s ease-in-out;
      }
      &:hover {
        b {
          color: #000000;
        }
        button {
          background-color: #000000;
          color: #ffffff;
        }
      }
    }
    button {
      width: 250px;
      height: 50px;
      border: 2px solid #c09a42;
      color: #c09a42;
      font-size: 20px;
      font-weight: 700;
      background-color: transparent;
      margin-bottom: 40px;
      transition: all 0.4s ease-in-out;
      &:hover {
        background-color: #c09a42;
        color: white;
      }
    }
  }
  .map {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
    .part-1 {
      width: 480px;
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      b {
        font-size: 40px;
        width: 350px;
        padding-left: 20px;
      }
      p {
        font-size: 17px;
        padding-left: 20px;
        width: 350px;
      }
      span {
        font-size: 20px;
        font-weight: 700;
        color: #c09a42;
      }
      h4 {
        font-size: 20px;
      }
      button {
        width: 150px;
        height: 40px;
        margin-top: 30px;
        border: none;
        cursor: pointer;
        background-color: #c09a42;
        color: white;
        font-size: 15px;
        font-weight: 700;
        transition: all 0.4s ease-in-out;
        &:hover {
          background-color: #ffffff;
          color: #c09a42;
        }
      }
    }
    .part-2 {
      width: 700px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 700px;
        height: 350px;
      }
    }
  }
  .fotter {
    width: 100%;
    background-color: #242424;
    h3 {
      padding-top: 50px;
      color: #c0aa76;
    }
    p {
      color: white;
      font-size: 50px;
      font-weight: 700;
    }
    span {
      color: white;
      font-weight: 600;
      font-size: 15px;
      padding-left: 20px;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 50px;
    }
    .long-box-1 {
      padding-top: 20px;
      width: 280px;
      height: 300px;
      margin-right: 70px;
      margin-bottom: 20px;
      img {
        margin-left: -40px;
      }
      p {
        font-size: 14px;
        color: rgb(255, 255, 255);
        font-weight: 400;
        padding-top: 40px;
        text-align: start;
      }
      button {
        width: 150px;
        height: 35px;
        border: none;
        background-color: #c09a42;
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        margin-top: 30px;
        margin-left: -90px;
        transition: all 0.4s ease-in-out;
      }
      &:hover {
        b {
          color: #000000;
        }
      }
    }
    .long-box-2 {
      width: 280px;
      height: 300px;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-left: -60px;
      b {
        text-align: start;
        padding-bottom: 40px;
        font-size: 40px;
        color: #c09a42;
        transition: all 0.4s ease-in-out;
      }
      p {
        font-size: 15px;
        color: rgb(255, 255, 255);
        font-weight: 500;
        text-align: start;
      }
      button {
        width: 150px;
        height: 35px;
        border: none;
        background-color: #c09a42;
        color: #ffffff;
        font-weight: 700;
        transition: all 0.4s ease-in-out;
      }
      &:hover {
        b {
          color: #000000;
        }
        button {
          background-color: #000000;
          color: #ffffff;
        }
      }
    }
  }
}
@media (max-width: 1025px) {
  .general-container {
    .boxes-about-market {
      .large-box {
        width: 370px;
      }
    }
  }
}
@media (max-width: 991px) {
  .navbar-brand {
    img {
      margin-left: -30px;
      margin-top: -70px;
    }
  }
}
@media (max-width: 769px) {
  .general-container {
    .coffee-cut {
      margin-top: -7px;
    }
  }
}
@media (max-width: 426px) {
  .general-container {
    header {
      width: 100%;
      height: 600px;
      .navbar-toggler {
        margin-top: -65px;
        margin-right: -30px;
      }
      .image {
        width: 90%;
        height: 120px;
      }
    }
    .map {
      .part-2 {
        width: 360px;
        img {
          width: 360px;
        }
      }
    }
  }
}
